@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
.Home{
	background-color: #0e0f1a;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	
}
.Home div{
	background-color: #292a34;
	padding:40px;
	min-height: 60vh;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}
h1{
	margin:0;
	color:#ffffff;
	background-color: #0e0f1a;
	padding:10px 20px;
	font-family: 'Open Sans', sans-serif;
}
 form{
	 display: flex;
	 flex-direction: column;
	 /* background-color:white; */
	 padding:20px;
 }
 label{
	color:#42f4e1;
 }
 
 input{
	 margin:2px 0;
	 padding:10px;
	 border-radius: 6px;
	 border:1px solid #000000;
	 font-family: 'Open Sans', sans-serif;
	 font-size:12px;
 }
 button{
	 background: transparent;
	 border:none;
	 color:#42f4e1;
	 font-size:20px;
	 outline:none;
 }
 p{
	font-size:20px;
	color:#ffffff;
 }